* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--roboto);

}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    display: none;
    z-index: 2;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 80px;
    border-bottom: 2px solid var(--primary-color);
}

.nav-bar img {
    width: 45px;
    height: 45px;
}

.nav-bar .links-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 400px;
}

.links-nav a {
    text-decoration: none;
    color: #474747;
    font-size: 1rem;
    font-weight: 700;
}

.links-nav a:hover {
    color: var(--secundary-color);
}

.nav-bar .btnContato {
    background-color: var(--primary-color);
    font-size: 0.875rem;
    padding: 0.438rem 0.938rem;
    border-radius: 8px;
    cursor: pointer;
    border: 2px solid;
    font-weight: 600;
}

.nav-bar .btnContato:hover {
    background-color: #8a84fc;
}

main {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;

}

main h1 {
    font-size: 3rem;
    color: var(--primary-color);
    line-height: 0.5;
    -webkit-text-stroke: 1px #000;
}

main h2 {
    color: var(--secundary-color);
    font-size: 5rem;
    -webkit-text-stroke: 2px #000;
}

main p {
    width: 400px;
    color: #474747;
    font-weight: 500;
    margin-bottom: 30px;
    font-size: 1.2rem
}

main img {
    width: 600px;
}

.textoContainer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-bottom: 100px;
}

.titulo {
    font-size: 2.7rem;
    width: 550px;
    margin-bottom: 20px;
    font-weight: 700;
}

.textoContainer .palavraDiferente {
    color: var(--primary-color);
    font-weight: 600;
}

.textoContainer p {
    font-size: 1.1rem;
    width: 500px;
}

#techFuturo {
    font-size: 3rem;
}

.futurasTech {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin: 60px 0;
}

.futurasTech p {
    width: 300px;
}

.futurasTech .fa {
    font-size: 8rem;
}

.containerTech {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 200px;
    margin-top: 20px;

}

.containerTech h1 {
    padding: 20px 0;
    font-size: 3rem;
}

#pComp {
    font-size: 2rem;
    line-height: 1;
    padding: 10px 0;
}

#btnIot {
    margin-top: 20px;
}

.containerTech button {
    background-color: var(--primary-color);
    font-size: 0.875rem;
    padding: 0.438rem 0.938rem;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.containerTech button:hover {
    background-color: #8a84fc;
}

.containerTech button a {
    text-decoration: none;
    list-style: none;
    color: #000;
    font-weight: 500;
}

main .saibaMais {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    font-size: 1.25rem;
    padding: 0.625rem 1.25rem;
    border-radius: 8px;
    cursor: pointer;
    border: 2px solid;
    font-weight: 600;
}

main .saibaMais:hover {
    background-color: #8a84fc;
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 80px;
    border-top: 2px solid var(--primary-color);
}

.footer-container img {
    width: 30px;
    height: 30px;
}

.mobile-menu-icon {
    display: none;
    z-index: 100;
}

.menu-mobile {
    display: none;
    position: absolute;
    left: 0;
    background-color: #fff;
    width: 100%;
    z-index: 101;
    box-shadow: 0 0 30px 0 black;
}

.menu-mobile a:hover {
    text-decoration: underline;
}

.menu-mobile .btnContato:hover {
    background-color: #8a84fc;
    text-decoration: underline;

}

@media screen and (max-width: 480px) {
    .nav-bar {
        padding: 1.5rem 4rem;
    }

    .links-nav a {
        display: none;
    }

    .btnContato {
        display: none;
    }

    .mobile-menu-icon {
        display: block;
    }

    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .menu-mobile a {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 1rem 0;
    }

    .menu-mobile .links-nav {
        display: block;
        padding-top: 1.2rem 0px;
    }

    .menu-mobile .btnContato {
        display: block;
        background-color: var(--primary-color);
        font-size: 1.25rem;
        padding: 0.5rem;
        cursor: pointer;
        border: 2px solid;
        font-weight: 600;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menu-mobile .btnContato {
        width: 100%;
    }

    .open {
        display: block;
    }

    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 100%;
    }

    section {
        display: flex;
        flex-direction: column;
    }

    main h1 {
        margin: 50px 0px 10px 0;
        font-size: 3rem;
        -webkit-text-stroke: 0px;
    }

    main h2 {
        -webkit-text-stroke: 0px;
        font-size: 2.2rem;
    }

    main p {
        margin-top: 20px;
        width: 300px;
        text-align: center;
    }

    main img {
        width: 400px;
    }

    main button {
        text-align: center;
    }

    .textoContainer {
        flex-direction: column;
        justify-self: center;
        align-items: center;
        text-align: center;
    }

    .titulo {
        font-size: 1.9rem;
        width: 90%;
        margin: auto;
        margin-bottom: 20px;
    }

    .textoContainer p {
        width: 350px;
        font-size: 1.3rem;
        margin: auto;
        
    }

    #techFuturo {
        line-height: 1.1;
        margin: 0;
        padding: 0;
    }
    .futurasTech > :nth-child(1){
        margin-top: 0;
    }
    .containerTech{
        margin-top: 60px;
    }
    .containerTech h1 {
        padding: 0;
        margin: 20px 0;
    }

    .containerTech .fa {
        margin: 0;
        padding: 0;
    }

    #pComp {
        margin: 0;
    }
    #btnIot{
        margin: 0;
    }
    .containerTech button{
        padding: 1rem 2rem;
        border-radius: 15px;
    }
    .containerTech button a{
        font-size: 1.2rem;

    }
}